.digit {
	background-color: $digit_bg;

	// COLON
	.colon & {
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(6) {
			background-color: $colon_bg;
		}
	}

	// ZERO
	.zero & {
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6), 
		&:nth-child(10), 
		&:nth-child(11),
		&:nth-child(15),
		&:nth-child(16),
		&:nth-child(20),
		&:nth-child(21),
		&:nth-child(25),
		&:nth-child(26),
		&:nth-child(30),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}
	
	// ONE
	.one & {
		&:nth-child(3),
		&:nth-child(7), 
		&:nth-child(8),
		&:nth-child(13),
		&:nth-child(18),
		&:nth-child(23),
		&:nth-child(28),
		&:nth-child(31),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34),
		&:nth-child(35) {
			background-color: $colon_bg;
		}
	}
	
	// TWO
	.two & {
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6), 
		&:nth-child(10), 
		&:nth-child(15),
		&:nth-child(19),
		&:nth-child(23),
		&:nth-child(27),
		&:nth-child(31),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34),
		&:nth-child(35) {
			background-color: $colon_bg;
		}
	}
	
	// THREE
	.three & {
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(10), 
		&:nth-child(15),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(25),
		&:nth-child(26),
		&:nth-child(30),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}
	
	// FOUR
	.four & {
		&:nth-child(4),
		&:nth-child(8),
		&:nth-child(9), 
		&:nth-child(12),
		&:nth-child(14),
		&:nth-child(16),
		&:nth-child(19),
		&:nth-child(21),
		&:nth-child(22),
		&:nth-child(23),
		&:nth-child(24),
		&:nth-child(25),
		&:nth-child(29),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}
	
	// FIVE
	.five & {
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3), 
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(11),
		&:nth-child(16),
		&:nth-child(17),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(20),
		&:nth-child(25),
		&:nth-child(26),
		&:nth-child(30),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}
	
	// SIX
	.six & {
		&:nth-child(2),
		&:nth-child(3), 
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(16),
		&:nth-child(17),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(21),
		&:nth-child(25),
		&:nth-child(26),
		&:nth-child(30),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}
	
	// SEVEN
	.seven & {
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3), 
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(10),
		&:nth-child(14),
		&:nth-child(18),
		&:nth-child(23),
		&:nth-child(28),
		&:nth-child(33) {
			background-color: $colon_bg;
		}
	}
	
	// EIGHT
	.eight & {
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6), 
		&:nth-child(10), 
		&:nth-child(11),
		&:nth-child(15),
		&:nth-child(17),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(21),
		&:nth-child(25),
		&:nth-child(26),
		&:nth-child(30),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}
	
	// NINE
	.nine & {
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6), 
		&:nth-child(10), 
		&:nth-child(11),
		&:nth-child(15),
		&:nth-child(17),
		&:nth-child(18),
		&:nth-child(19),
		&:nth-child(20),
		&:nth-child(25),
		&:nth-child(26),
		&:nth-child(30),
		&:nth-child(32),
		&:nth-child(33),
		&:nth-child(34) {
			background-color: $colon_bg;
		}
	}	
}